<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br><br>
    <a href="/posts/1"><img src="../../static/voltar.png" width="40px"/ style="margin: 10px;"></a>
    <br><br>
    <center>
    <div>
        <%- console.log(JSON.stringify(dados)); %>
        
        <h1><%= dados[0].sigla %></h1>
        <br>
        <label>Docente: <%= dados[0].docente %></label>
        <br>
        <br>
        <main id="MainDash">
        <table>
            <thead>
                <tr>
                  <th>Tipos de Roupa</th>
                  <th>Quantidade Arrecadada</th>
                </tr>
              </thead>
              <tbody>
            <% let i = 0; for (i = 0; i< turmas.length; i++) {%>
            <tr>
                <td><%= turmas[i].Descricao %> - <%= turmas[i].Pontos%> Pontos</td>
                <td>
                    <% if (turmas.Descricao == dados[0].Descricao) {%>
                    <% dados[0].qtd %>
                    <% } %>
                </td>
            </tr>
            <% } %>
              </tbody>
        </table>
    </main>
    </div>
    </center>
    <%- include("../partials/footer") %>
</body>

</html>